.brand-text {
  color: yellow;
  font-style: bolder;
  font-size: 25px;
}

.brand-text:hover {
  color: yellow;
}

.eds-nav-link {
  margin-left: 3px;
  margin-right: 3px;
  color: #fff;
  font-weight: bold;
}

.eds-nav-link:hover {
  color: yellow;
}

.active > a {
  color: #ffaadd;
}

nav > a {
  float: right;
}  