.brand-text {
  color: gold;
  font-style: bolder;
  font-size: 25px;
}

.brand-text:hover {
  color: gold;
}

.eds-nav-link {
  margin-left: 3px;
  margin-right: 3px;
  color: #ccf;
  font-weight: bold;
}

.eds-nav-link:hover {
  color: gold;
}

.active > a {
  color: gold;
}

nav > a {
  float: right;
}

.app-collapse{
  color: gold;
}